.index_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto 50px;
    height: 95vh;
    text-align: center;
}

.index_header {
    padding: 20px;
}

.index_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: auto;
    padding: 20px;
}

.index_footer {
    padding: 20px;
}

.question_header {
    font-size: 20px;
    font-weight: bold;
}

.question_text {
    font-size: 16px;
    font-weight: normal;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.index_container, .quiz_container {
    text-align: center;
    margin-top: 50px;
}

.QuizButton {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

.answer {
    padding: 10px;
    margin: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
}
